body {
    font-family: Tahoma, Arial, sans-serif;
  }

  #menu-toggle {
    display: none;
  }

  .frame{
    width: 600px;
  }

  
  @media (max-width: 768px) {
    #menu-items {
      display: none;
    }

    #menu-items.active {
      display: block;
      text-align: center;
    }
  
    #menu-toggle {
      display: block;
    }
  
    #menu-toggle.active + #menu-items {
      display: flex;
    }
  }